body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  /*display: flex;*/
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  vertical-align: text-top;
  width: 70%;
}

#branding {

}

.title {
  font-size: 3rem;
}

.button {
  background-color: black;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15px 15px;
  cursor: pointer;
  font-size: 18px;
}

#login, #enter_location, #turn_on_bluetooth, #enter_wifi_details, #location_list, #connect{
  display: none;
}

#connected, #disconnect_button {
  display: none;
  font-size: 18px;
  width: 75%;
  margin: auto;
}

#pinNumber {
  font-size: 18px;
  width: 50px;
}

#error-msg, #debug_msg {
  width: 75%;
  margin: auto;
  font-size: 12px;
  color: #DC143C;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 12px;
}

ol {
  font-size: 12px;
  text-align: left;
}

#list_of_locations {
  list-style: none;
}

#list_of_locations li{
    padding-top: 20px;
    font-size: 14px;
}

#list_of_locations li a{
    color: black;
}
