body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.button {
  background-color: black;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}

#connected, #disconnectButton {
  display: none;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

#pinNumber {
  font-size: 18px;
  width: 50px;
}

#error-msg {
  width: 50%;
  margin: auto;
}
